body{
    background: #BDBDBD;
}


.contact-selector {

    font-family: Arial; 
    background: white;
}

.contact-selector .container {

  margin: 0 auto;
  width: 1000px;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 20px;
}

.contact-selector .container .submit-button {

    margin-left: 93%; 
}