body{
    background: #BDBDBD;
}

.first-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.first-heading-heading {
    overflow-x: auto;
    white-space: nowrap;
}

.first-heading-heading > h1 {
    display: inline-block;
}