body{
    background: #BDBDBD;
}


.contact-selector {

    font-family: Arial; 
    background: white;
}

.contact-selector .container {

  border-radius: 5px;
  background-color: #BDBDBD;
  padding: 20px;
}

.contact-selector .container .submit-button {

    margin-left: 93%; 
}