
<div class="container portfolio-section ">
    <h2 class="font-weight-bold">Porfolio</h2>
    <p class="lead my-3">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <img src="/website1/assets/img/big-project-image.png" class="card-img-top img-cover" alt="...">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non felis eget mi congue pretium a convallis nibh. Vivamus vehicula dapibus urna vel cursus. Quisque dignissim tempus dolor, at blandit mauris imperdiet vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top img-cover" alt="...">
            <div class="card-body px-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non felis eget mi congue pretium a convallis nibh. Vivamus vehicula dapibus urna vel cursus. Quisque dignissim tempus dolor, at blandit mauris imperdiet vitae.</p>
            </div>
            </div>
            </div>

                <div class="col-md-4">

            <div class="card">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top img-cover" alt="...">
            <div class="card-body px-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non felis eget mi congue pretium a convallis nibh. Vivamus vehicula dapibus urna vel cursus. Quisque dignissim tempus dolor, at blandit mauris imperdiet vitae.</p>
            </div>
        </div>
        </div>
    </div>
  </div>